<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Login">
    <table>
        <tr>
            <td>First Name: </td>
            <td><input type="text" id="username" name="username" /></td>
        </tr>
        <tr>
            <td>Passoword: </td>
            <td><input type="password" id="password" name="password" /></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
</form>

